.country
{
    display:flex;
    flex-direction: column;
}
.filter
{
    background-color: white;
    height:100%;
    padding:10px;
    margin-right:10px;
    border-radius: 5px;
}
.filterHeading
{
    font-family:"Poppins",serif;
    font-weight:800;
}
.input
{
    margin:5px;
}
.label
{
    margin-left:5px;
}
.buttonContainer
{
    display:flex;
    justify-content: center;
    align-items: center;
}
.button
{
    height:30px;
    width:140px;
    background-color: #dedcff;
    border-radius:5px;
    border:none;
    margin:0 auto;
}
.buttonContainer :hover
{
    /* background-color: rgb(230, 161, 33); */
    background-color: #56423e;
    color:white;
    transform: scale(1.05);
    /* transition-duration:1s; */
}